
.nav-logo {
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: 900;
  line-height: 43px;
  color: #ffffff;
}
.nav-logo-text {
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.38em;
  color: #ffffff;
}
